@import 'tailwindcss';

@theme {
  --color-brand: #7ad33e;
  --color-white-bg: #e4e4e7;
  --color-white-surface: #f9fafb;
}

@layer base {
  html,
  body,
  #root {
    @apply h-full overflow-hidden;
  }
}

:root {
  font-family: 'Inter', sans-serif;
}
